body{
    background-color: #bdbec7;
    font-family: 'Montserrat', sans-serif;
    color: #2a3551;
}

.header {
    background-color: #2a3551;
    color: #fef3d7;
    margin: none;
    padding: none;
    width: 100%;
}

#headerImg {
    border-radius: 50%;
    border: 1px solid #2a3551;
}

h1, h2 {
    font-family: 'Open Sans', sans-serif;
}